{% extends "Layout.html" %} {% block content %}
<h1>Day - Exercises</h1>
<form class="form-horizontal" id="form_edit">
    <input type="hidden" id="id" value="">
    <input type="hidden" id="id_day" name="id_day" value="{{ dayexercise['day'][0]['id'] }}">
    <input type="hidden" id="resource" value="day_exercise">
    <input type="hidden" id="returnUrl" value="day/{{ dayexercise['day'][0]['id'] }}/exercises">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Day:</label>
        <div class="alert alert-success" role="alert">
            <b>{{ dayexercise['day'][0]['name'] }}</b>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Assign to exercise:</label>
        <select class="form-control" name="id_exercise" id="id_exercise">
            <option value="">Choose...</option>
            {% for item in dayexercise['exercises'] %}
                <option value="{{ item['id'] }}">{{ item['exercise'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" onClick="window.location.replace('/app/days');">< Back to Days</button></Back>
        </div>
    </div>
</form>
<p><span id="error_msg" class="text-danger"></span></p>
{% endblock %}